*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, input, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  background-color: aqua;
  min-height: 100%;
  margin-left: 0;
}

nav {
  width: 18%;
  min-width: 180px;
  flex-direction: column;
  background-color: blueviolet;
  min-height: 100%;
  padding-top: 35px;
  transition: margin-left .5s;
  padding: 20px;
}

nav div {
  display: flex;
  width: 100%;
  height: 110px;
  background-color: darkblue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

nav div button {
  border: none;
  background-color: coral;
  color: white;
  padding: 20px;
}

nav div input {
  margin-top: 5px;
  color: azure;
  width: 80%;
  background: none;
  border: none;
  text-align: center;
}

nav div input::placeholder {
  color: gray;
  text-align: center;
}

nav button:hover {
  background-color: grey;
}

nav button:active {
  background-color: lightgray;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 25px 60px 25px;
  width: 82%;
  background-color: #1a8d0a;
  min-height: 100%;
  transition: margin-left .5s;
}

article ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

article ul li {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  height: 110px;
  background-color: brown;
}

article ul li i {
  padding: 0 35px 0 35px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 0;
  align-items: center;
  min-height: 100%;
  max-width: 180px;
  background-color: pink;
  transition: all 0.2s linear;
}

aside select {
  width: 85%;
  margin-top: 75px;
  background-color: #ff0000;
  border: none;
  transition: all 0.2s linear;
}
