*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, input, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  min-height: 100%;
  margin-left: 0;
}

nav {
  width: 18%;
  min-width: 180px;
  flex-direction: column;
  background-color: #031726;
  min-height: 100%;
  padding-top: 35px;
  transition: margin-left .5s;
  padding: 35px 0 0 0;
}

nav div {
  display: flex;
  width: 100%;
  height: 110px;
  background-color: #103B3B;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

nav div button {
  border: none;
  width: 100%;
  background-color: #155151;
  color: white;
  padding: 20px;
  cursor: pointer;
}

nav div input {
  margin-top: 5px;
  color: white;
  width: 80%;
  background: none;
  border: none;
  text-align: center;
}

nav div input::placeholder {
  color: #D2D4C8;
  text-align: center;
}

nav button:hover {
  background-color: #144A4A;
}

nav button:active {
  background-color: #2A6060;
}

.error-button {
  background-color: #8B2635;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 25px 60px 25px;
  width: 100%;
  background-color: #E0E2DB;
  min-height: 100%;
  transition: margin-left .5s;
}

article ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

article ul li {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  height: 110px;
  background-color: #D2D4C8;
}

article ul li span {
  padding: 0 35px 0 35px;
}

article div {
  display: flex;
  align-items: center;
  justify-content: center;
}

article div button {
  margin: 10px;
  border: none;
  color: white;
  background-color: #031726;
  cursor: pointer;
  width: 35px;
  height: 25px;
}

article div button:hover {
  background-color: #155151;
}

aside {
  display: flex;
  flex-direction: column;
  width: 0;
  align-items: center;
  min-height: 100%;
  background-color: #8B2635;
  transition: all 0.2s linear;
}

aside select {
  width: 85%;
  height: 25px;
  margin-top: 75px;
  background-color: #E0E2DB;
  color: black;
  border: none;
  cursor: pointer;
}
